<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    <main class="formPage top-padding-max">
        <div class="container">
            <div class="formWrapper">
                <h2 style="text-align: center;">Billing Form: {{currId}}</h2>
                <!-- <a class="backButton" href="{% url 'update-order-form' pk=currId %}"><i class="im im-angle-left"></i></a> -->
                <br><br>
                <div style="width: 100%; display: flex; justify-content: space-around;">
                    <div>
                        <h4>Quantity        : {{quantity}}</h4>
                        <h4>Packaging Charge: {{packCharge}}</h4>
                        <h4>Delivery Charge : {{delCharge}}</h4><hr>
                        <h4>Sum Amount      : {{amount}}</h4>
                        <h4>% VAT           : {{vat}}%</h4><hr>
                        <h4>Total Amount    : {{total_amount}}</h4>
                    </div>
                    <form class="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form__field">
                            <label for="formInput#text">{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}
                        <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    {% endblock content %}

</body>
</html>