<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    <h1>Category page:</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Packaging Charge</th>
                <th>Delivery Charge</th>
                <th>VAT(%)</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in category %}
            <tr>
                <td>{{cat.category_name}}</td>
                <td>{{cat.category_description}}</td>
                <td>{{cat.category_weight}}</td>
                <td>{{cat.packaging_charge}}</td>
                <td>{{cat.delivery_charge}}</td>
                <td>{{cat.category_vat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {% endblock content %}

</body>
</html>