<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}

    <!-- <h1>Category page:</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Packaging Charge</th>
                <th>Delivery Charge</th>
                <th>VAT(%)</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in category %}
            <tr>
                <td>{{cat.category_name}}</td>
                <td>{{cat.category_description}}</td>
                <td>{{cat.category_weight}}</td>
                <td>{{cat.packaging_charge}}</td>
                <td>{{cat.delivery_charge}}</td>
                <td>{{cat.category_vat}}</td>
                <td><img style="max-width: 500px" src="{{cat.imageURL}}" alt=""></td>
            </tr>
            {%endfor%}
        </tbody>
    </table> -->

    <!-- Main Section -->
    <main class="projects">
        <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
            <h2>Search for <span>Category</span></h2>
            </div>

            <div class="hero-section__search">
            <form class="form" action="#" method="get">
                <div class="form__field">
                <label for="formInput#search">Search By Category </label>
                <input class="input input--text" id="formInput#search" type="text" name="text"
                    placeholder="Search by Category Name" />
                </div>

                <input class="btn btn--sub btn--lg" type="submit" value="Search" />
            </form>
            </div>
        </div>
        </section>
        <!-- Search Result: DevList -->
        <section class="projectsList">
            <div class="container">
                <div class="grid grid--three">
                    
                    {% for cat in category %}
                    <div class="column">
                        <div class="card project">
                            <a href="#" class="card-a project">
                                <img class="project__thumbnail" src="{{cat.imageURL}}" alt="project thumbnail" />
                                <div class="card__body">
                                <h3 class="project__title">{{cat.category_name}}</h3>
                                <!-- <p><a class="project__author" href="profile.html">By Dennis Ivanov</a></p> -->
                                <p class="project--rating">{{cat.category_description}}</p>
                                <h4><span style="font-weight: bold;">Standard Amount: </span> {{cat.category_quantity}}</h4>
                                <h4><span style="font-weight: bold;">Packaging Charge: </span> {{cat.packaging_charge}}</h4>
                                <h4><span style="font-weight: bold;">Packaging Charge: </span> {{cat.delivery_charge}}</h4>
                                <h4><span style="font-weight: bold;">% Vat: </span> {{cat.category_vat}}%</h4>
                                <!-- <div class="project__tags">
                                    {% for tag in i.tags.all %}
                                    <span class="tag tag--pill tag--main">
                                        <small>{{tag.name}}</small>
                                    </span>
                                    {% endfor %}
                                </div> -->
                                </div>
                            </a>
                        </div>
                    </div>
                    {%endfor%}

                    
                </div>
            </div>
        </section>
    </main>

    {% endblock content %}

</body>
</html>